.about_container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0, -6px, 16px, -6px rgba(0, 0, 0, 0.025);
    padding:  20px;
    background-color:  #eff3f7;
    margin:  0 auto;
    margin-top:  100px;
    width: 80%;
    border-radius: 10px;
    height: fit-content;
    font-size: 2em;
}

.about_container span:first-child {
    font-size: 1em;
}

.about_container span:last-child {
    display: block;
    margin-top: 10px;
}
.page-content {
    background-color: whitesmoke;
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(800px, 1fr) 2fr;
    grid-gap: 50px;
    margin-right: 80px;
    margin-left: 50px;
}

.Clouds, .page-content{
    /* background-color: red; */
    /* background: liner-gradient( to bottom,"#20002c", "#cbb4d4"); */
}

.page-content,
.contentContainer,
.ratingContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
}
.contentContainer {
    margin: 5%;
    padding: 5%;
    border-radius: 15px;
    display: inline;
    background-color: white !important;
    z-index: 3;
}


.inputContainer {
    background-color: whitesmoke;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 50px;
    width: 92%;
    height: 500px;
}

.mapContainer {
    width: 92%;
    height: 90%;
    margin-left: 3%;
    top: 5%;
}

.mapContainer > div {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.movie_charts {
    list-style: none;
    padding-inline-start: 0px;
    text-align: left;
}

.charts_chart  {
    /* float: left; */
     /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start;  */
    font-size: 1em !important;
    /* left: ; */
    margin: 5%;
    margin-left: 0px;
    padding-left: 3%;
    border: 1px white solid;
    border-radius: 5px;
    width: 100%;
}

.chart_dec {
    font-size: 1em !important;
    margin-top: 0px !important;
    /* width: auto; */
    /* position: inherit; */
    padding-right: 3%;
    float: right;
}

#col_blu {
    color: #b6eb7a;
}
#col_red {
    color: #e84a5f;
}
#col_gra {
    color: #726a95;
}

ul > li {
    z-index: 10;
}

ul > p {
    margin-top: -8%;
    margin-left: -2%;
    color: gray;
}
