.about_container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0, -6px, 16px, -6px rgba(0, 0, 0, 0.025);
    padding:  20px;
    background-color:  white;
    margin:  0 auto;
    margin-top:  100px;
    width: 80%;
    border-radius: 5px;
    height: fit-content;
}

.about_container span:first-child {
    font-size: 20px;
}

.about_container span:last-child {
    display: block;
    margin-top: 10px;
}
.page-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 2fr;
    grid-gap: 20px;
}

.page-content,
.contentContainer,
.ratingContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contentContainer {
    border: 1px solid red;
    display: inline;
}

.ratingContainer {
    display: inline;
    border: 1px solid red;
}

.inputContainer {
    border: 1px solid red;
    margin-top: 20px;
}